#Venv 
.venv
venv/

#pycache
QCNN/__pycache__
QCNN/*/__pycache__
*.pyc

#for testing and checking modules and snippets
implementationTests/
implementationTests/*

#Results
# Results/*
Results/Cache/
training_log.txt
training_summary.txt


# output.txt
datasets/images/*
datasets/*.*
datasets/MNIST/
graphify-out/